body,html,p,div,span,h1,h2,h3,a,img,input,li,ol,ul,i,nav,section,footer{
    margin: 0;
    padding: 0;
}
a{text-decoration: none;}
img{border:none;vertical-align: top;}
input{outline: none;border: none;}
ul,li,ol{list-style: none;}

body{
    width: 100%;
    overflow-x: hidden;
}
.my-nav{
    padding:20px 0 ;
}
.dropdown-menu{
    min-width:0px;
}
#mycollapse ul >li > a:hover,.content-item h2{
    color: rgb(250, 140, 15);
}
#mycollapse .navbar-nav > li.active >a{
    color:rgb(250, 140, 15);
    background: #fff;
    border:1px solid rgb(250, 140, 15);
}
.my-imgTitle{
    text-align: left;
    top:20%;
    left:30%;
}
.my-imgTitle h4 {
    font-size:30px;
    font-weight:600;
}
.content-title{
    margin-top:30px;
    padding-left:15px;
}
.content-title > p{
    margin-top:10px;
}
.content-four{
    margin-top:10px;
}
.content-item{
    border:1px solid #999;
    padding:10px;
}
.content-item > h3,.content-item > div > a{
    color:#000;
    margin-top:5px;
    text-decoration:none;
}
.content-item:hover{
    color:#fff;
    background: rgb(250, 140, 15);
}
.content-four .content-item:hover > h2 ,.content-four .content-item:hover > h3{
    color:#fff;
}
.content-four .content-item:hover .moveDiv{
    animation: movediv 0.6s  linear;
}
@keyframes movediv{
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    .my-collapse{
        padding:0;
    }
    .container .navbar-collapse{
        margin-right:-15px;
    }
}
.bottom-img{
    width:100%;
}
.bottom-text h2{
    font-size:36px;
    font-weight:600;
    margin-bottom:10px;
    margin-top:10px;
}
.bottom-text p{
    font-size:14px;
    line-height:30px;
}
.footer{
    width:100%;
    margin-top:-30px;
    background: #000;
    color:#fff;
    padding:20px 0px;
}
.footer p,.footer a{
    color:#666;
    display: block;
    text-decoration: none;
}